<body>
  <div class="bg">
  <header>  
  <nav class="navbar navbar-expand-md navbar-light" style="background-color:rgb(106, 80, 255)">
      <div>
          <h1 class="navbar-brand">Your Vegetable Market</h1>
      </div>  
      </nav>
      </header>
      
<div class="container">
<div class="jumbotron">
    <h2 class="textual">Enter Your Credentials</h2>
    <form #registerform="ngForm" (ngSubmit)="registerUser()">
        <!-- {{registerform.form.valid}} -->
        <small class="text-danger">{{msg}}</small>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="name" class="form-control" placeholder="Enter name" name="name" [(ngModel)]="c.name" required #name=ngModel
           [class.is-invalid]="name.invalid && name.touched">
           <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
           
      </div>
      <div class="form-group">
        <label for="email">UserName:</label>
        <input type="username" class="form-control" placeholder="Enter username" name="username" [(ngModel)]="c.username" required #username=ngModel
         [class.is-invalid]="username.invalid && username.touched">
         <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required</small>
    </div>
    
    <div class="form-group">
         <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="c.email" required pattern="^\w[a-zA-z0-9]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"  #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched">
         <div *ngIf="email.errors && (email.invalid && email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">Email is Required</small>
             <small class="text-danger" *ngIf="email.errors.pattern">Enter Valid Email</small>
        </div>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="c.password" required #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
    </div>
      <button [disabled]="registerform.form.invalid" type="submit" class="btn btn-success">Register</button>
    </form>
    </div>
  </div>
</div>
</body>
